<table border="1">
  <tr>
    <td width='45'>
      <input type="checkbox" checked='false' [checked]="checkAll" [value]="checkAll"
        (click)="selectedAll()">
    </td>
    <td>
      <p family="demi" size="sm" color="onsurface-800">
        EM. PROVEEDORA
      </p>
    </td>
    <td>
      <p family="demi" size="sm" color="onsurface-800">
        COD. CLIENTE
      </p>
    </td>
    <td>
      <p family="demi" size="sm" color="onsurface-800">
        N° DOC. PAGO
      </p>
    </td>
    <td>
      <p family="demi" size="sm" color="onsurface-800">
        VENCIMIENTO
      </p>
    </td>
    <td *ngIf="selectionParameters.showTipoPago">
      <p family="demi" size="sm" color="onsurface-800">
        TIPO DE PAGO
      </p>
    </td>
    <td>
      <p family="demi" size="sm" color="onsurface-800">
        MORA
      </p>
    </td>
    <td *ngIf="!selectionParameters.showTipoPago" >
      <p family="demi" size="sm" color="onsurface-800">
        CARGO FIJO
      </p>
    </td>
    <td content-align='right'>
      <p family="demi" size="sm" color="onsurface-800">
        MONTO
      </p>
    </td>
  </tr>
  <tr *ngFor='let item of debtsList; let i = index' [ngClass]="{'disabledRow' : item.isDisabled }">
    <td width='45'>
      <input type="checkbox" [checked]='item.isChecked' [value]='item.isChecked'
        (click)="selectedItem(item,i)">
    </td>
    <td>
      <p family="regular" size="sm" color="onsurface-800">{{item.companyName}}</p>
    </td>
    <td>
      <p family="regular" size="sm" color="onsurface-800">{{item.clientCode}}</p>
    </td>
    <td>
      <p family="regular" size="sm" color="onsurface-800">{{item.documentNumber}}</p>
    </td>
    <td>
      <p family="regular" size="sm" color="onsurface-800">{{item.expiration}}</p>
    </td>
    <td *ngIf="selectionParameters.showTipoPago">
      <select size="sm" ctrl-value="0" (change)="changeSelectTipoPago($event,item)">
        <option slot="header" label="Seleccionar"></option>
        <option *ngFor="let item of tipoDePagos" value="{{item.value}}">{{item.name}}
        </option>
      </select>
    </td>
    <td>
      <p family="regular" size="sm" color="onsurface-800">{{item.extraPayment}}</p>
    </td>
    <td *ngIf="!selectionParameters.showTipoPago">
      <p family="regular" size="sm" color="onsurface-800">{{item.fixedCharge}}</p>
    </td>
    <td content-align='right'>
      <input *ngIf="item.showInput" style="margin-top:10px" mask="amount" type="text"
        value='' (change)="changeAmount($event,item)">
      <!-- Input con mensaje de error -->

      <p *ngIf="!item.showInput" family="regular" size="sm" color="onsurface-800">{{item.amount}}
      </p>
    </td>
  </tr>
</table>